<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
<meta http-equiv="Content-Type" content="text/html; charset=utf8">
<title>ズッ友達 | 思い出登録</title>
<link href="./zuttomo.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="./zuttomo.js"></script>
</head>
<body>
<form method="POST" action="./friend.php?id=<%=USER_ID=>&mode=regist">
友達の名前は<input type="text" name="friendname" value=""/><br />
です。<br />
<br />
<input type="text" value="" name="old" />歳の時に知り合いました。<br />
<br />
私にとって<select name="friend_type">
<%=OPTION_VALUE=>
</select>です。<br />
<br />
思い出の<select name="memory_type">
<%=OPTION_VALUE_MEMORY=>
</select><br />
は、<br />
<textarea name="memory_text">
</textarea>
という事がありました。<br />
<br />
<input type="submit" value="追加" />
</form>
<%=FOOTER=>

</body>
</html>