<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
<meta http-equiv="Content-Type" content="text/html; charset=utf8">
<title>ズッ友達</title>
<link href="./zuttomo.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="./zuttomo.js"></script>
</head>
<body>
<h1 class="header">
ズッ友達<br />
<small>-思い出を、老後に懐かしむために-</small>
</h1>
<ul>
<li><a href="you.php">登録してね</a></li>
</ul>
</body>
</html>