<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
<meta http-equiv="Content-Type" content="text/html; charset=utf8">
<title>ズッ友達</title>
<link href="./zuttomo.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="./zuttomo.js"></script>
</head>
<body>
ようこそ <%=USER_NAME=>さん<br />
<ul>
<li><a href="friend.php?id=<%=USER_ID=>">友達を登録する！</a></li>
<li><a href="remind.php?id=<%=USER_ID=>">友達を思い出す！</a></li>
<!--<li>ファイルに書き出し(準備中)</li>
<li>保存したファイルを読み込む(準備中)</li>-->
</ul>
<%=FOOTER=>
</body>
</html>