<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
<meta http-equiv="Content-Type" content="text/html; charset=utf8">
<title>ズッ友達 | ユーザー登録完了</title>
<link href="./zuttomo.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="./zuttomo.js"></script>
</head>
<body>
登録成功しました！これであなたのデータが作れます。
<ul>
<li><a href="friend.php?id=<%=USER_ID=>">次に、友達の情報を登録しましょう。</a></li>
</ul>
</form>
<%=FOOTER=>
</body>
</html>